<form method="POST" action="?acao=Form&metodo=salvar">
  <input type="hidden" name="id" value={id} />
  <fieldset style="width: 0px; border-radius: 4px; ">
  <legend>Cadastro</legend>
  <label>Nome do evento:</label>
  <p>
  <input value = "{nome}" style="line-height: 20px;" type="text" name="nome" required /><br/>
  </p>
  <label>Local:</label>
  <p>
  <input value = "{local}" style="line-height: 20px;" type="text" name="local" required /><br/>
  </p>
  <label>Quantidade:</label>
  <p>
  <input value = "{quantidade}" style="line-height: 20px;" type="number" name="quantidade" required /><br/>
  </p>
  <button type="submit" style=" 
  background: #39496e;
  color: #8f9ec0;
  border-style: outset;
  border-radius: 5px;
  border-color: #576c9c;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow:none; 
  " 
  >Salvar</button>
  </fieldset>
</form>
